* {
    margin: 0px;
    padding: 0px;
}
.one {
    width: 100%;
    background-color: red;
    padding-top: 50px;
    padding-bottom: 50px;
}
.two {
    width: 20%;
    height: 300px;
    background-color: gray;
    display: inline-block;
    margin-left: 4%;
}